<configuration>
    <property name="LOG_PATH" value="./logs"/>

    <!-- 콘솔 Appender 추가 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [txId:%X{transactionId}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 파일 Appender (기존 설정) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [txId:%X{transactionId}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Sentry Appender -->
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level> <!-- ERROR 이상 로그만 전송 -->
        </filter>
    </appender>

    <!-- root logger에 두 appender 모두 연결 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="SENTRY"/>
    </root>
</configuration>
